/* This media query is used only for mobile devices */
@media only screen and (max-width: 767px) {
  .navbar {
    justify-content: end;
  }
  .links {
    display: none;
  }
  @keyframes animate__bounceInDown {
    from {
      transform: translateY(300px);
    }

    to {
      transform: translateX(0);
    }
  }
  .popup {
    align-items: start;
  }
  .active {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    padding-top: 100px;
    right: 0;
    left: 0;
    height: 100vh;
    align-items: center;
    z-index: 33;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    animation: animate__bounceInDown 0.6s;
  }
  .toggle-button {
    font-size: 40px;
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .links a {
    color: #000;
  }
  .Main h1 {
    font-size: 40px;
  }
  .bottom_text,
  .top_text {
    font-size: 35px;
  }
  .main__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .aboutwrap {
    flex-direction: column;
    text-align: center;
  }
  .aboutwrap img {
    width: 280px;
  }
  h1 {
    font-size: 50px;
  }
  .servicewrap {
    padding: 0px 40px;
  }
  .hirewrap {
    flex-direction: column;
    gap: 20px;
    padding: 60px;
  }
  .hire__content h5 {
    font-size: 30px;
    text-align: center;
  }
  .hire__content p {
    text-align: center;
  }
  .hire__btn button {
    padding: 15px 35px;
    font-size: 15px;
  }
  .footerwrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .boxeswrap {
    flex-wrap: wrap;
  }
  .box {
    width: 80%;
  }
  .project__content {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }
  .hire__btn a {
    padding: 10px 25px;
  }
  .formwrap {
    max-width: 380px;
  }
}

/* This media query is used only for small tablet devices */
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .aboutwrap {
    flex-direction: column;
    text-align: center;
  }
  .aboutwrap img {
    width: 350px;
  }
  .servicewrap {
    padding: 0px 35px;
  }
  .hire__content h5 {
    font-size: 30px;
  }
  .hire__btn button {
    padding: 15px 35px;
    font-size: 15px;
  }
}
/* This media query is used only for big tablet devices */
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .aboutwrap img {
    width: 450px;
  }
  .servicewrap {
    padding: 0px 40px;
  }
}
